/* GLOBAL */

@font-face {
	font-family: customFont;
	src: url("../fonts/AldotheApache.ttf");
}

html {
	height: 100%;
	font-family: "Segoe UI", Arial, sans-serif;
}

body {
	padding-top: 50px;
	background: url('../images/background.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.starter-template {
	padding: 50px 15px;
	text-align: center;
}

/* BARRE DE NAVIGATION */

.navbar {
	background-color: #cccccc;
	border-width: 0;
}

.navbar-brand {
	font-family: customFont;
	font-size: 30px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #4CAF50;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #4CAF50;
}

.navbar-inverse .navbar-nav>li>a {
	font-size: 18px;
}

@media (min-width: 1200px) {
    .container {
        width: 1300px;
   }
}

/* ECRAN DE CREATION DE COMPTE / ACCUEIL */
#home-content {
	padding-top: 80px;
	display: flex;
	width: 70%;
	margin: auto;
}

#container-presentation {
	width: 60%;
	padding-right: 40px;
	font-size: 22px;
	color: white;
}

#container-presentation p {
	margin-top: 10px;
}

#container-presentation p:first-child {
	margin-top: 0px;
}

.icon-line {
	text-align: center;
}

#container-subscription-form {
	margin-top: 70px;
	width: 40%;
	float: right;
	font-size: 18px;
}

#container-subscription-form form {
	margin-bottom: 20px;
}

#container-subscription-form input {
	font-family: "Segoe UI", Arial, sans-serif;
    width: 100%;
    padding: 8px 20px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

#container-subscription-form input:first-child {
	border-radius: 6px 6px 0px 0px;
}

#container-subscription-form .last-input {
	border-radius: 0px 0px 6px 6px;
}

#container-subscription-form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    font-family: "Segoe UI", Arial, sans-serif;
    border-radius: 6px;
    height: 45px;
    margin-top: 20px;
    background: linear-gradient(90deg, #4CAF50, rgb(78, 194, 56));
}

.errorMessage {
	color: red;
}

.successMessage {
    color: green;
}

.white {
	color: white;
}

.inputGender {
    margin-left: -25px !important;
}

.center {
	text-align: center;
}

.max-width {
	width: 100%;
}

.max-height {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

#gmaps {
	height:100%;
	width: 100%;
	position: relative;
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
}
