<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">dar-2016-aws</property>
        <property name="hibernate.connection.url">jdbc:mysql://aabkaa1uv0tyjo.cortfl8tkfmv.us-west-2.rds.amazonaws.com:3306/ebdb</property>
        <property name="hibernate.connection.username">Morvan</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        
        <!-- c3p0 properties -->
	    <property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
        
		<!-- Comportement pour la conservation des tables -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Fichiers à mapper -->
        <mapping class="models.Player" />
        <mapping class="models.GameSession" />

        <!-- Affiche les logs SQL -->
<!--        <property name="show_sql">true</property>-->
<!--        <property name="hibernate.format_sql">true</property>-->
<!--        <property name="use_sql_comments">true</property>-->

    </session-factory>
</hibernate-configuration>
